NODE_ENV=development
BACKEND_PORT=3000
FRONTEND_PORT=8080
MQTT_PORT=1883
REDIS_PORT=6379

MQTT_URL=mqtt://localhost:1883
ALLOWED_ORIGINS=http://localhost:8080
REDIS_URL=redis://127.0.0.1:6379

FIREBASE_PROJECT_ID=distributed-edge-ai-evacuation
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@distributed-edge-ai-evacuation.iam.gserviceaccount.com
FIREBASE_DATABASE_URL=https://distributed-edge-ai-evacuation-default-rtdb.asia-southeast1.firebasedatabase.app/

VITE_API_BASE_URL=http://localhost:3000
VITE_FIREBASE_API_KEY=AIzaSyApo5r1InxokdsSaVuJ4kvtZmRfUJwzyxo
VITE_FIREBASE_AUTH_DOMAIN=distributed-edge-ai-evacuation.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://distributed-edge-ai-evacuation-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=distributed-edge-ai-evacuation
VITE_FIREBASE_STORAGE_BUCKET=distributed-edge-ai-evacuation.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1021852502686
VITE_FIREBASE_APP_ID=1:1021852502686:web:4c6badea31b31bc7cac98f
VITE_FIREBASE_MEASUREMENT_ID=G-PZ2EHKVLC3
VITE_CAMERA_PI5_CAM1_HLS_URL=http://localhost:8888/pi5-cam-1/index.m3u8
VITE_CAMERA_PI5_CAM2_HLS_URL=http://localhost:8888/pi5-cam-2/index.m3u8
VITE_CAMERA_PIZERO_CAM1_HLS_URL=http://localhost:8888/pizero-cam-1/index.m3u8
