MQTT_HOST=127.0.0.1
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_ANNOUNCEMENT_TOPIC=building/evacuation/alerts
MQTT_EVACUATION_TOPIC=building/command/evacuation
MQTT_SENSOR_TOPIC=building/sensors/#
MQTT_ALERT_AUDIO_CLIENT_ID=mqtt-alert-audio-player
ALERT_COOLDOWN_SECONDS=8
AUDIO_PLAYER=ffplay
