[Unit]
Description=Smart Building MQTT Audio Player
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=rasp5
WorkingDirectory=/home/rasp5/distributed-edge-ai-evacuation/smart_building_voice_audio
ExecStart=/usr/bin/python3 /home/rasp5/distributed-edge-ai-evacuation/smart_building_voice_audio/play_mqtt_alerts.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
