PORT=
MQTT_URL=
ALLOWED_ORIGINS="http://localhost:5173,http://localhost:8080"
REDIS_URL="redis://127.0.0.1:6379"

# Firebase
FIREBASE_SERVICE_ACCOUNT_PATH=
FIREBASE_PROJECT_ID=distributed-edge-ai-evacuation
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@distributed-edge-ai-evacuation.iam.gserviceaccount.com
FIREBASE_DATABASE_URL=https://distributed-edge-ai-evacuation-default-rtdb.asia-southeast1.firebasedatabase.app/
